@import url('https://fonts.googleapis.com/css2?family=Play:wght@400&display=swap');
*{
    size: 100%;
}
body{
    margin: 0 auto;
    background: rgb(23,28,23);
}
.page-top-bar {
    width: 100%;
    height: 6vh;
    background: rgb(67,172,57);
    align-items: center;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1;
}
.page-top-bar-content{
    margin: 0 auto;
    display: flex;
    gap: 2vh;
}
.logo-image{
    width: 5vh;
    height: 5vh;
    background-image: url("../assets/logo.png");
    background-position: center;
    background-size: cover;
}
.page-top-bar-text {
    color: white;
    text-align: center;
    font-family: 'Play', sans-serif;
    font-weight: bold;
    line-height: 5vh;
    cursor: pointer;
    font-size: 2vh;
}
.sel{
    animation: rgb-effect 5s ease-in-out infinite;
}
@keyframes rgb-effect {
    0% {
      color: rgb(255, 255, 255);
    }
    25% {
      color: rgb(255, 0, 0); /* Change the RGB values to your desired color */
    }
    50% {
      color: rgb(0, 255, 4);
    }
    75%{
        color: rgb(0, 255, 234);
    }
    100%{
        color: rgb(255, 255, 255);
    }
}
.page-top-bar-text:hover {
   color: rgb(115,255,102);
}
.page-body {
    width: 100%;
    height: 100%;
    background: rgb(23,28,23);
    padding-top: 6vh;
}
.page-container{
    margin: 0 auto;
    background: rgb(34,40,42);
    max-width: 100vh;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.page-container-top-bar{
    margin: 0 auto;
    max-width: 100vh;
    height: 6vh;
    background: rgb(53,77,51);
    display: flex;
    gap: 1vh;
}

.logo-panel{
    background: url("../assets/mail.png");
    height: 6vh;
    width: 6vh;
    background-position: center;
    background-size: cover;
    margin-left: 2vh;
}
.panel-text{
    color: white;
    font-family: 'Play', sans-serif;
    font-weight: bold;
    line-height: 6vh;
}
.form{
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    width: 80vh;
    height: 80vh;
    margin: 0 auto;
    padding: 4vh;
    margin-top: 2vh;
    margin-bottom: 2vh;;
    background: white;
    border-radius: 10px;
}
@media screen and (max-width: 700px) {
    .page-container {
        width: 100%;
      flex-direction: column;
    }
    .page-container-top-bar{
        width: 100%;
    }
    .form{
        width: 45vh;
    }
}