@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
*{
    margin: 0;
}
body{
    font-family: "Inter", sans-serif;
}
.white-top-column{
    transition-duration: 0.5s;
    border: 1px solid black;
    width: 100%;
    height: 10vh;
    display: flex;
}
.white-top-column:hover{
    transition-duration: 0.5s;
    height: 12vh;
}
.white-top-column-option{
    width: 20%;
    height: 100%;
    text-align: center;
    justify-content: center;
    background-color: black;
    cursor: pointer;
}
.white-top-column-option:hover{
    transition-duration: 0.5s;
    background-color: blueviolet;
}
.white-top-column-text{
    transition-duration: 0.5s;
    font-size: 1.5vh;
    color: white;
    padding: 4vh 1vh 4vh 1vh;
}
.white-top-column-text:hover{
    transition-duration: 0.5s;
    color: rgb(255, 255, 255);
    animation: rgb-effect 2s ease-in-out infinite;
    font-size: 3vh;
}
@keyframes rgb-effect {
    0% { color: purple; }
    25% { color: violet; }
    50% { color: salmon; }
    75% { color: pink; }
    100% { color: white; }
}
.container{
    margin: 0 auto;
    width: 100%;
    height: 85vh;
    border: 1px solid black;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(blueviolet,salmon);

}
.info{
    margin: 0 auto;
    width: 100%;
    min-height: 20vh;
    background: rgb(36,34,42);
    border-radius:0 0 25vh 25vh; 
    z-index: 2;
}
.img-container{
    margin: 0 auto;
    background: black;
    width: 100%;
    height: 28vh;
    border-radius: 0 0 70% 70%; 
}
.logo-img{
    margin: 0 auto;
    width: 35vh;
    height: 25vh;
    background-image: url(./assets/logo.png);
    background-position: center;
    background-size: cover;
}
.titulo-container{
    margin: 0 auto;
    padding: 3vh 0vh 5vh 0vh;
    min-width: 60%;
    text-align: center;
    color: white;

}
.titulo-container h2{
    font-family:"Bungee Spice", sans-serif;
    font-size: 3vh;
    color: blueviolet;
}
.info2{
    z-index: 1;
    background: url(./assets/background-dark-triangles.jpg);
    margin: 0 auto;
    margin-top: -16vh;
    border: 1px solid black;
    width: 80%;
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    padding: 18vh 4vh 4vh 4vh
}
.parrafos{
    width: 100%;
    height: 10vh;
    font-size: 2vh;
    padding: 2vh;
    color: white;
    backdrop-filter: blur(30px);
    border-radius: 30px;
    box-shadow: 2px 2px 2px 1px rgba(255, 255, 255, 0.2);
    
}
.osumania{
    background: url(./assets/mosaic-triangles.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 50vh;
    border-radius: 6vh;
    display: flex;
    padding: 5vh;
    flex-wrap: wrap;
    align-items: center;
    border: 10px solid purple;
}
.logo-osu{
    background: url(./assets/Osu-Logo.png);
    background-position: center;
    background-size: cover;
    min-width: 30vh;
    min-height: 30vh;
    margin: 0 auto;
}
.parrafo-osu{
    margin: 0 auto;
    text-align: justify;
    width: 30vh;
    height: 25vh;
    padding: 1vh;
    font-size: 2vh;
    overflow: hidden;
    color: white;
    border-radius: 30px;
    margin-bottom: 4vh;
    backdrop-filter: blur(8vh);
    box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.329);

}
.video-osu{
    margin: 0 auto;
    width: 30vh;
    height: 20vh
}
.registro{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    padding: 5vh;
}
.form{
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    min-width: 30vh;
    height: 30vh;
    color: white;
    font-weight: bold;
    border-radius: 5vh;
    padding: 10px 20px;
    background:rgb(36,34,42);
    border: 10px solid purple;
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
}
.form:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.form .form-input{
    position: relative;
    width: 100%;
    height: 5vh;
    margin: 2vh 0;
    margin-bottom: 4vh;
}
.form-input input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 18px;
    background-color:rgba(0, 0, 0, 0.4);
    color:white;
}
.form-input input::placeholder{
    padding-left: 2vh;
    color: #fff;
}
.form-button{
    width: 10vh;
    height: 4vh;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 20px;
    color: white;
    background: purple;
    transition-duration: 0.5s;
}
.form-button:hover{
    transition-duration: 0.5s;
    color: purple;
    background: white;
}